.Stacontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #414141; /* Background color */
}

.Stalogo {
  width: 400px;
  margin-bottom: 0.1rem; /* 로고와 제목 사이의 간격을 좁게 설정 */
}

.StaStatitle {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: #fff;
  margin-top: 0; /* 필요 시 간격을 더 좁히기 위해 추가 */
}

.Stabutton {
  font-size: 1.5rem;
  font-weight: bold;
  width: 20rem;
  height: 3rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #414141;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
